:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;

  background-color: #333;
  color: white;
  padding: 20px;

  align-items: center;
  justify-content: space-between;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;

  align-items: center;
  justify-items: center;

  margin-top: auto;
}
